@import 'tailwindcss';

:root {
  --bg-color: #1e1e1e;
  --text-color: #d4d4d4;
  --accent-blue: #569cd6;
  --accent-yellow: #dcdcaa;
  --accent-green: #6a9955;
  --border-color: #333333;
}

@theme {
  --color-bg-editor: var(--bg-color);
  --color-text-editor: var(--text-color);
  --color-accent-blue: var(--accent-blue);
  --color-accent-yellow: var(--accent-yellow);
  --color-accent-green: var(--accent-green);
  --color-border-editor: var(--border-color);

  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-mono);
}

html {
  scroll-behavior: smooth;
}
