@import 'tailwindcss';

:root {
  --bg-color: #191a1b;
  --text-color: #d4d4d4;
  --text-hint: #6a7282;
  --accent-green: #59da82;
  --accent-blue: #4c8fcd;
  --accent-yellow: #e3d700;
  --border-color: #333333;
}

@theme {
  --color-bg-editor: var(--bg-color);
  --color-text-editor: var(--text-color);
  --color-text-hint: var(--text-hint);
  --color-accent-green: var(--accent-green);
  --color-accent-blue: var(--accent-blue);
  --color-accent-yellow: var(--accent-yellow);
  --color-border-editor: var(--border-color);

  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  --animate-blink: cursor-blink 1s step-end infinite;

  @keyframes cursor-blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-mono);
}

html {
  scroll-behavior: smooth;
}
